[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]
matplotlib = "*"
psutil = "*"

[requires]
python_version = "3.12"
